# Bird Migration Analysis

In [14]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()
import geopandas as gpd
import movingpandas as mpd
import os

In [18]:
for root, dir, filenames in os.walk('.'):
    for filename in filenames:
        if filename.endswith('.csv'):
            file = os.path.join(root, filename)

dat = pd.read_csv(file, delimiter=',')

In [10]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61920 entries, 0 to 61919
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          61920 non-null  int64
 1   altitude            61920 non-null  int64
 2   date_time           61920 non-null  object
 3   device_info_serial  61920 non-null  int64
 4   direction           61477 non-null  float64
 5   latitude            61920 non-null  float64
 6   longitude           61920 non-null  float64
 7   speed_2d            61477 non-null  float64
 8   bird_name           61920 non-null  object
dtypes: float64(4), int64(3), object(2)
memory usage: 4.3+ MB

In [12]:
dat = dat.drop(columns=['Unnamed: 0'])
dat.head(10)

,altitude,date_time,device_info_serial,direction,latitude,longitude,speed_2d,bird_name
0,71,2013-08-15 00:18:08+00,851,-150.469753,49.419860,2.120733,0.150000,Eric
1,68,2013-08-15 00:48:07+00,851,-136.151141,49.419880,2.120746,2.438360,Eric
2,68,2013-08-15 01:17:58+00,851,160.797477,49.420310,2.120885,0.596657,Eric
3,73,2013-08-15 01:47:51+00,851,32.769360,49.420359,2.120859,0.310161,Eric
4,69,2013-08-15 02:17:42+00,851,45.191230,49.420331,2.120887,0.193132,Eric
5,54,2013-08-15 02:47:38+00,851,-46.344478,49.420375,2.120840,2.904772,Eric
6,57,2013-08-15 03:02:33+00,851,-56.369922,49.420352,2.120901,3.080584,Eric
7,65,2013-08-15 03:17:27+00,851,-79.170227,49.420342,2.120809,2.199659,Eric
8,59,2013-08-15 03:32:35+00,851,-57.682428,49.420319,2.120860,2.640076,Eric
9,107,2013-08-15 03:47:48+00,851,119.604739,49.420287,2.121301,4.592211,Eric